<apex:page standardController="Account">
    <apex:form >
    
    <apex:image url="{!$Resource.Accounting}" width="300" height="100" rendered="true" id="img1"/>
    
    <apex:pageBlock title="User Details:">
    <b>
    FULL NAME: {!$User.FirstName & ' ' & $User.LastName}<br/>
    First Name: {!$User.FirstName}<br/>
    Last Name: {!$User.LastName}<br/>
    <i>({!IF($User.IsActive,$User.Username,'inactive')})</i>
    <p>Current Month {! MONTH(TODAY())}</p>
    </b>
    
    </apex:pageBlock>
                           
        <apex:pageBlock title="Account Details:">
            <apex:pageBlockSection title="Basic Information" columns="1">
                <apex:inputField value="{!Account.Id}"/>
                <apex:inputField value="{!Account.Name}"/>
                <apex:inputField value="{!Account.Type}"/>
                <apex:inputField value="{!Account.Industry}"/>
                    
                <apex:image url="https://content3.jdmagicbox.com/comp/delhi/y8/011pxx11.xx11.180701173520.a2y8/catalogue/accounts-home-tutor-hari-nagar-delhi-home-tutors-for-class-xii-accounts-o1f5oliksp.jpeg?interpolation=lanczos-none&output-format=jpg&resize=1024:370&crop=1024:370px;*,*"
                 width="300" height="100"/>
                            
            </apex:pageBlockSection>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>